

@media only screen and (max-width: 1300px) {
    .small-icon {
        position: absolute;
        top: -48px;
        max-width: 186px;
    }
 }
  @media only screen and (min-width: 1300px) {
    .big-icon {
        position: absolute;
        left: -48%;
        top: 27%;
        max-width: 250px;
    }
    }
  