<footer [class]="layout">
    <div class="container">
        <div class="footer-widget">
            <div class="row"> 
                <!--
  <div class="col-lg-4 col-sm-5 order-1">
                    <a ><img class="small-icon big-icon" src="assets/img/logo-2.png" alt="logo"></a>
                </div>
                --> 
              
                <div class="widget nav-widget">
                    <ul style="margin-left: 7px;" class="row">
                        <li  class="col-md-4"><a  style="color: white;"  href="/">Va-Chercher</a></li>
                        <li class="col-md-4"><a style="color: white;"  href="#"> Qui sommes-nous ?</a></li>
                        <li class="col-md-4"><a  style="color: white;"  href="/general-conditions">Conditions générales d'utilisation</a></li>
                        <li class="col-md-4"><a style="color: white;"  href="/">
                           La protection de mes données personnelles</a></li>
                        <li class="col-md-4"><a style="color: white;"  href="/">
                            Notre service de comparaison</a></li>
                        <li class="col-md-4"><a style="color: white;" href="/">Service Presse</a></li>

                    </ul>
                    <hr style=" height: 1px;
                    background-color: #ccc;
                    border: none;">
                </div>
            </div>
  

            <div class="row">
                
                <div class="col-lg-3 col-sm-6 order-3">
                    
                    <div class="widget nav-widget">
                        <h4 class="widget-title">Services d'assurance</h4>
                        <ul>
                            <li><a href="/#">Assurance de Bien</a></li>
                            <li><a href="#">Assurance de personnes</a></li>
                            <li><a href="#">Électricité et Gaz</a></li>
                            <li><a href="/#">Crédits</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 order-lg-4 order-5">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="widget nav-widget">
                                <h4 class="widget-title">Les partenaires</h4>
                                <ul>
                                    <li><a href="#">Assurance FMA</a></li>
                                    <li><a href="#">Assurance ECA</a></li>
                                    <li><a href="#">Assurance SPVIE</a></li>
                                    <li><a href="#">Assurance Néoliane</a></li>
                                    <li><a href="#">Assurance April</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="widget contact-widget">
                                <h4 class="widget-title">Contacter Nous</h4>
                                <p>Libre et rien ne nous empêche de pouvoir</p>
                                <ul class="contact-infos">
                                    <li>
                                        <a href="tel:+0123456789">
                                            <i class="far fa-phone"></i>
                                            +012 (345) 6789
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:info@Va-Chercher.com">
                                            <i class="far fa-envelope-open"></i>
                                            info@Va-Chercher.com
                                        </a>
                                    </li>
                                    <li> <i class="far fa-map-marker-alt"></i> France</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 style="color: white;" class=" widget nav-widget widget-title">ATTENTION PHISHING</h2>


        <p style="color: white;">
            Vous pouvez être sollicités par de faux conseillers prétendant travailler pour lesfurets pour vous proposer des prêts à taux zéro, n'y répondez pas et ne cliquez pas sur les liens. lesfurets ne vous demandera jamais la communication de document ou d'information bancaire. Plus d’informations ici.
            <br>
            <br>
            * Moyenne du montant des économies réalisées cumulées sur les produits assurance auto, assurance santé, assurance habitation et énergie. Une moyenne de 764€ constatée sur un échantillon de 1325 personnes ayant réalisé une comparaison des offres d’assurance auto, assurance santé, assurance habitation sur le site lesfurets.com entre le 1er août 2020 et le 31 juillet 2021 (interrogées par Avis Vérifiés) à laquelle s’ajoute une moyenne de 187€ constatée entre le prix règlementé EDF (consommation + abonnement) et les offres partenaires énergie les moins chères sur le site lesfurets.com entre le 1er janvier et le 1 septembre 2021 pour les utilisateurs ayant une maison >100M2.
            <br>
            <br>
            ** Économie annuelle moyenne constatée sur un échantillon de 995 personnes ayant réalisé une comparaison des offres d’assurance auto sur le site lesfurets.com entre le 1er août 2020 et le 31 juillet 2021 (interrogées par Avis Vérifiés).
            <br>
            <br>
            *** Économie maximale constatée sur un échantillon de 192 personnes ayant réalisé une comparaison des offres d’assurance emprunteur sur le site lesfurets.com entre le 1er août 2020 et le 31 juillet 2021 (interrogées par Avis Vérifiés).</p>
        <br>
            <div class="footer-copyright">
            <p class="copyright-text">
                <span>Copy@ <a  style="color: #CB218E;" href="#">NAZA DEV SOLUTIONS</a> 2022</span>
                <a href="javascript:void(0)" class="back-to-top" (click)="gotoTop()"><i class="far fa-angle-up"></i></a>

                <span>All Right Reserved Va-Chercher.com</span>
            </p>
        </div>
    </div>

</footer>