<div id="preloader" *ngIf="isLoading">
    <img style="    max-width: 310px;
        max-height: 320px;
        margin-top: 150px;" src="assets/img/illustration/wait.gif" />
    <p style="position: absolute;
      top: 60%;
      font-family: 'Source Sans Pro';
      font-size: revert;
      font-weight: bold;"> Veuillez patienter, nous recherchons les meilleures offres pour Vous </p>
</div>
<app-fixed-header *ngIf="!isLoading"></app-fixed-header>
<div *ngIf="!isLoading" style="
  text-align: center; margin-top: 50px; margin-bottom: 15%;">
    <div class="illustration-img text-center">
        <img class="small-image1 large-image1" src="assets/img/illustration/auto.png" alt="img">
    </div>

    <div style="height: 150px; overflow: hidden;">
        <svg viewBox="0 0 500 200" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,92.27 C216.83,192.92 304.30,8.39 500.00,109.03 L500.00,0.00 L0.00,0.00 Z"
                style="stroke: none;fill: #cb218d27;"></path>
        </svg>
    </div>
    <mat-vertical-stepper *ngIf="!isLoading" class="stepper" [linear]="isLinear" #stepper>

        <!--FIRST STEP HERE -->
        <mat-step [stepControl]="firstFormGroup">
            <form class="left" [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Votre véhicule
                </ng-template>
                <br>
                <br>
                <div class="u-form-group u-form-select u-form-group-2">
                    <label for="select-4191" class="u-label u-label-2">Vous souhaitez assurer : </label>
                    <br>
                    <br>
                    <mat-radio-group formControlName="type" aria-label="Select an option">
                        <mat-radio-button (change)="typeChange($event)" value="1">un véhicule que vous possédez déjà
                        </mat-radio-button>
                        <br>
                        <mat-radio-button (change)="typeChange($event)" style="margin-right: 38px;" value="2">
                            acquisition d'un véhicule neuf</mat-radio-button>
                        <br>
                        <mat-radio-button (change)="typeChange($event)" value="3">acquisition d'un véhicule d'occasion
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <br>
                <mat-form-field appearance="outline" style="margin-right: 10px;">
                    <mat-label>Date d'effet</mat-label>
                    <ng-template matStepLabel>Placeholder label 0</ng-template>
                    <input (ngModelChange)="onDateSelect($event)" matInput [min]="mindate" [max]="maxDate"
                        [matDatepicker]="picker" formControlName="date" />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error>
                        fournir une date de début à partir du mois prochain !
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="margin-right: 10px;">
                    <mat-label>Date d'acquisition</mat-label>
                    <ng-template matStepLabel>Placeholder label 0</ng-template>
                    <input matInput [matDatepicker]="picker2" formControlName="dateAcquisition" />
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <mat-error>
                        Entrez la Date d'acquisition !
                    </mat-error>
                </mat-form-field>
                <br />
                <br />

                <div *ngIf='this.show1 == true'>
                    <mat-form-field appearance="outline" style="margin-right: 10px;">
                        <mat-label>Date 1ère mise en circulation</mat-label>
                        <ng-template matStepLabel>Placeholder label 0</ng-template>
                        <input matInput [matDatepicker]="picker3" formControlName="dateCirculation" />
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                        <mat-error>
                            Entrez la Date 1ère mise en circulation !
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <br>
                    <div  class="u-form-group u-form-select u-form-group-2">
                        <label for="select-4191" class="u-label u-label-2">Le véhicule est-il assuré actuellement ?</label>
                        <br>
                        <mat-radio-group formControlName="assure" aria-label="Select an option">
                            <mat-radio-button (change)="radioChange($event)" value="1">oui</mat-radio-button>
                            <mat-radio-button (change)="radioChange($event)" style="margin-left : 15px" value="0"> non
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <br>
                    <br>    
                </div>

               
                <mat-form-field *ngIf='this.show == true && this.show1 == true' appearance="outline"
                    style="margin-right: 10px;">
                    <mat-label>Depuis quand </mat-label>
                    <input matInput [matDatepicker]="picker4" formControlName="nonassuredate" />
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                    <mat-error>
                        Depuis quand le véhicule n'est-il plus assuré ?
                    </mat-error>
                </mat-form-field>


                <mat-form-field appearance="outline" style="margin-right: 10px;">
                    <mat-label>Mode d'achat du véhicule</mat-label>
                    <mat-select  name="countryReactiveVaraible" formControlName="mode" placeholder="Mode d'achat">
                        <mat-option *ngFor="let mode of mode" [value]="mode">
                            {{mode.text}}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        Entrez le Mode d'achat du véhicule
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline" style="margin-right: 10px;">
                    <mat-label>Type de voie</mat-label>
                    <input type="text" matInput placeholder="Type de voie" formControlName="typeVoie" >
                    <mat-error>
                        Entrez le Type de voie
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" style="margin-right: 10px;">
                    <mat-label>Nom de voie</mat-label>
                    <input type="text" matInput placeholder="Nom de voi" formControlName="nomVoie" >
                    <mat-error>
                        Entrez le Nom de voie
                    </mat-error>
                </mat-form-field>
                <br>

                <mat-form-field appearance="outline" style="margin-right: 10px;">
                    <mat-label>Ville</mat-label>
                    <input type="text" matInput placeholder="Ville" formControlName="ville" >
                    <mat-error>
                       Entrez votre ville
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" style="margin-right: 10px;">
                    <mat-label>Kilométrage effectué par an ?</mat-label>
                    <mat-select name="countryReactiveVaraible" formControlName="kmetre"
                        placeholder="Kilométrage">
                        <mat-option *ngFor="let kmetre of kmetre" [value]="kmetre">
                            {{kmetre.text}}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        Entrez le Kilométrage effectué par an!
                    </mat-error>
                </mat-form-field>

                <br />
                <div>
                    <ul class="btn-wrap">
                        <li data-animation="fadeInRight" data-delay="1.4s">
                            <button [disabled]="firstFormGroup.invalid" matStepperNext
                                class="main-btn main-btn-4">Suivant</button>
                        </li>
                    </ul>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup">
            <form class="left" [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Informations de Véhicule</ng-template>
                <mat-form-field appearance="outline" style="margin-right: 10px;">
                    <mat-label>code postal</mat-label>
                    <input type="number" matInput placeholder="Code Postal" formControlName="postalCode" required>
                    <mat-error>
                        Entrez votre code postal!
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="margin-right: 10px;">
                    <mat-label>Matrucule</mat-label>
                    <input type="text" matInput placeholder="matrucule" formControlName="matricule" required>
                    <mat-error>
                        entrez la Matrucule de votre Voiture
                    </mat-error>
                </mat-form-field>
                <br>
                <br>

                <mat-form-field appearance="outline" style="margin-right: 10px;">
                    <mat-label>Usage prévu du véhicule</mat-label>
                    <mat-select name="countryReactiveVaraible" formControlName="autoUse"
                        placeholder="Usage du véhicule">
                        <mat-option *ngFor="let autoUse of autoUse" [value]="autoUse">
                            {{autoUse.text}}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        Usage prévu du véhicule
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="margin-right: 10px;">
                    <mat-label>Mode de parking la nuit</mat-label>
                    <mat-select name="countryReactiveVaraible" formControlName="parkingMode"
                        placeholder="Mode de parking">
                        <mat-option *ngFor="let parkingMode of parkingMode" [value]="parkingMode">
                            {{parkingMode.text}}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        Entrez le Mode de parking la nuit
                    </mat-error>
                </mat-form-field>
                
                <ul class="btn-wrap">
                    <li data-animation="fadeInLeft" data-delay="1.2s">
                        <button [disabled]="secondFormGroup.invalid" matStepperNext
                            class="main-btn main-btn-4">Suivant</button>
                    </li>
                    <br>
                    <li data-animation="fadeInRight" data-delay="1.4s">
                        <button matStepperPrevious class="main-btn main-btn-2">Retour</button>
                    </li>
                </ul>
            </form>
        </mat-step>

        <mat-step [stepControl]="therdFormGroup">
            <form class="left" [formGroup]="therdFormGroup">
                <ng-template matStepLabel>Conducteur(s) </ng-template>

                <mat-form-field appearance="outline" style="margin-right: 10px;">
                    <mat-label>le conducteur véhicule </mat-label>
                    <mat-select name="countryReactiveVaraible" formControlName="conducteur"
                        placeholder="conducteur du véhicule">
                        <mat-option *ngFor="let conducteur of conducteur" [value]="conducteur">
                            {{conducteur.text}}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        Entrez le conducteur principal du véhicule!
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" style="margin-right: 10px;">
                    <mat-label> titulaire de la carte grise</mat-label>
                    <mat-select name="countryReactiveVaraible" formControlName="titulaire"
                        placeholder="Mode de parking">
                        <mat-option *ngFor="let titulaire of titulaire" [value]="titulaire">
                            {{titulaire.text}}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        Entrez le titulaire de la carte grise!
                    </mat-error>
                </mat-form-field>
                <br>
                <br>

                <div class="u-form-group u-form-select u-form-group-2">
                    <label for="select-4191" class="u-label u-label-2">sexe</label>
                    <br>
                    <mat-radio-group formControlName="sexe" aria-label="Select an option">
                        <mat-radio-button (change)="sexChnage($event)" value="2">Madame</mat-radio-button>
                        <mat-radio-button (change)="sexChnage($event)" style="margin-left: 20px;" value="1">Monsieur</mat-radio-button>
                    </mat-radio-group>
                </div>

                <br>
                <br>

                <mat-form-field appearance="outline" style="margin-right: 10px;">
                    <mat-label>Date de naissance</mat-label>
                    <ng-template matStepLabel>Placeholder label 0</ng-template>
                    <input matInput [matDatepicker]="picker1" formControlName="birthDate" />
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error>
                        Entrez votre date de naissance !
                    </mat-error>
                </mat-form-field>
                <br>
                <br>
                <mat-form-field  appearance="outline" style="margin-right: 10px;">
                    <mat-label>Type de permis</mat-label>
                    <mat-select style="font-size: 15px!important " name="countryReactiveVaraible" formControlName="permis"
                        placeholder=" Usage du véhicule">
                        <mat-option *ngFor="let permis of permis" [value]="permis">
                            {{permis.text}}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        Choisir votre permis!
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" style="margin-right: 10px;">
                    <mat-label>Date d'obtention du permis </mat-label>
                    <input matInput [matDatepicker]="picker5" formControlName="permiDate" />
                    <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                    <mat-datepicker #picker5></mat-datepicker>
                    <mat-error>
                        Date d'obtention du permis de conduire !
                    </mat-error>
                </mat-form-field>

                <br>
                <br>
                <mat-form-field appearance="outline" style="margin-right: 10px;">
                    <mat-label>Situation matrimoniale</mat-label>
                    <mat-select name="countryReactiveVaraible" formControlName="situation"
                        placeholder="Situation matrimoniale">
                        <mat-option *ngFor="let situation of situation" [value]="situation">
                            {{situation.text}}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        Entrez la Situation matrimoniale!
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" style="margin-right: 10px;">
                    <mat-label>Profession / Statut </mat-label>
                    <mat-select name="countryReactiveVaraible" formControlName="profession"
                        placeholder="Profession / Statut ">
                        <mat-option *ngFor="let profession of profession" [value]="profession">
                            {{profession.text}}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        Entrez votre Profession / Statut!
                    </mat-error>
                </mat-form-field>
                <br>
                <div class="u-form-group u-form-select u-form-group-2">
                    <label for="select-4191" class="u-label u-label-2">Conduite accompagnée</label>
                    <br>
                    <mat-radio-group formControlName="acommpage" aria-label="Select an option">
                        <mat-radio-button value="1">oui</mat-radio-button>
                        <mat-radio-button style="margin-left: 20px;" value="2">non</mat-radio-button>
                    </mat-radio-group>
                </div>
                <br>

                <ul class="btn-wrap">
                    <li data-animation="fadeInLeft" data-delay="1.2s">
                        <button [disabled]="therdFormGroup.invalid" matStepperNext
                            class="main-btn main-btn-4">Suivant</button>
                    </li>
                    <br>
                    <li data-animation="fadeInRight" data-delay="1.4s">
                        <button matStepperPrevious class="main-btn main-btn-2">Retour</button>
                    </li>
                </ul>
            </form>
        </mat-step>



        <!-- STEP 4 PUT IT HERE-->
        <mat-step [stepControl]="fourFormGroup">
            <form class="left" [formGroup]="fourFormGroup">
                <ng-template matStepLabel>Antécédents d’assurances </ng-template>
                <p>Bonus-malus auto actuel </p>
                <select style="height: 51px;
                       border-radius: 10px;
                       background-color: #efc5c5;" formControlName="bonnus">
                    <option value="">--Sélectionnez--</option>
                    <option value="0.5+7">0,5 soit 50 % de bonus, depuis plus de 6 ans</option>
                    <option value="0.5+6">0,5 soit 50 % de bonus, depuis 5 à 6 ans</option>
                    <option value="0.5+5">0,5 soit 50 % de bonus, depuis 4 à 5 ans</option>
                    <option value="0.5+4">0,5 soit 50 % de bonus, depuis 3 à 4 ans</option>
                    <option value="0.5+3">0,5 soit 50 % de bonus, depuis 2 à 3 ans</option>
                    <option value="0.5+2">0,5 soit 50 % de bonus, depuis 1 à 2 ans</option>
                    <option value="0.5+1">0,5 soit 50 % de bonus, depuis moins de 1 an</option>
                    <option value="0.51">0,51 soit 49 % de bonus</option>
                    <option value="0.52">0,52 soit 48 % de bonus</option>
                    <option value="0.53">0,53 soit 47 % de bonus</option>
                    <option value="0.54">0,54 soit 46 % de bonus</option>
                    <option value="0.55">0,55 soit 45 % de bonus</option>
                    <option value="0.56">0,56 soit 44 % de bonus</option>
                    <option value="0.57">0,57 soit 43 % de bonus</option>
                    <option value="0.58">0,58 soit 42 % de bonus</option>
                    <option value="0.59">0,59 soit 41 % de bonus</option>
                    <option value="0.6">0,6 soit 40 % de bonus</option>
                    <option value="0.61">0,61 soit 39 % de bonus</option>
                    <option value="0.62">0,62 soit 38 % de bonus</option>
                    <option value="0.63">0,63 soit 37 % de bonus</option>
                    <option value="0.64">0,64 soit 36 % de bonus</option>
                    <option value="0.65">0,65 soit 35 % de bonus</option>
                    <option value="0.66">0,66 soit 34 % de bonus</option>
                    <option value="0.67">0,67 soit 33 % de bonus</option>
                    <option value="0.68">0,68 soit 32 % de bonus</option>
                    <option value="0.69">0,69 soit 31 % de bonus</option>
                    <option value="0.7">0,7 soit 30 % de bonus</option>
                    <option value="0.71">0,71 soit 29 % de bonus</option>
                    <option value="0.72">0,72 soit 28 % de bonus</option>
                    <option value="0.73">0,73 soit 27 % de bonus</option>
                    <option value="0.74">0,74 soit 26 % de bonus</option>
                    <option value="0.75">0,75 soit 25 % de bonus</option>
                    <option value="0.76">0,76 soit 24 % de bonus</option>
                    <option value="0.77">0,77 soit 23 % de bonus</option>
                    <option value="0.78">0,78 soit 22 % de bonus</option>
                    <option value="0.79">0,79 soit 21 % de bonus</option>
                    <option value="0.8">0,8 soit 20 % de bonus</option>
                    <option value="0.81">0,81 soit 19 % de bonus</option>
                    <option value="0.82">0,82 soit 18 % de bonus</option>
                    <option value="0.83">0,83 soit 17 % de bonus</option>
                    <option value="0.84">0,84 soit 16 % de bonus</option>
                    <option value="0.85">0,85 soit 15 % de bonus</option>
                    <option value="0.86">0,86 soit 14 % de bonus</option>
                    <option value="0.87">0,87 soit 13 % de bonus</option>
                    <option value="0.88">0,88 soit 12 % de bonus</option>
                    <option value="0.89">0,89 soit 11 % de bonus</option>
                    <option value="0.9">0,9 soit 10 % de bonus</option>
                    <option value="0.91">0,91 soit 9 % de bonus</option>
                    <option value="0.92">0,92 soit 8 % de bonus</option>
                    <option value="0.93">0,93 soit 7 % de bonus</option>
                    <option value="0.94">0,94 soit 6 % de bonus</option>
                    <option value="0.95">0,95 soit 5 % de bonus</option>
                    <option value="0.96">0,96 soit 4 % de bonus</option>
                    <option value="0.97">0,97 soit 3 % de bonus</option>
                    <option value="0.98">0,98 soit 2 % de bonus</option>
                    <option value="0.99">0,99 soit 1 % de bonus</option>
                    <option value="1">1 soit 0 % ni bonus, ni malus</option>
                    <option value="1.01">1,01 soit 1 % de malus</option>
                    <option value="1.02">1,02 soit 2 % de malus</option>
                    <option value="1.03">1,03 soit 3 % de malus</option>
                    <option value="1.04">1,04 soit 4 % de malus</option>
                    <option value="1.05">1,05 soit 5 % de malus</option>
                    <option value="1.06">1,06 soit 6 % de malus</option>
                    <option value="1.07">1,07 soit 7 % de malus</option>
                    <option value="1.08">1,08 soit 8 % de malus</option>
                    <option value="1.09">1,09 soit 9 % de malus</option>
                    <option value="1.1">1,1 soit 10 % de malus</option>
                    <option value="1.11">1,11 soit 11 % de malus</option>
                    <option value="1.12">1,12 soit 12 % de malus</option>
                    <option value="1.13">1,13 soit 13 % de malus</option>
                    <option value="1.14">1,14 soit 14 % de malus</option>
                    <option value="1.15">1,15 soit 15 % de malus</option>
                    <option value="1.16">1,16 soit 16 % de malus</option>
                    <option value="1.17">1,17 soit 17 % de malus</option>
                    <option value="1.18">1,18 soit 18 % de malus</option>
                    <option value="1.19">1,19 soit 19 % de malus</option>
                    <option value="1.2">1,2 soit 20 % de malus</option>
                    <option value="1.21">1,21 soit 21 % de malus</option>
                    <option value="1.22">1,22 soit 22 % de malus</option>
                    <option value="1.23">1,23 soit 23 % de malus</option>
                    <option value="1.24">1,24 soit 24 % de malus</option>
                    <option value="1.25">1,25 soit 25 % de malus</option>
                    <option value="1.26">1,26 soit 26 % de malus</option>
                    <option value="1.27">1,27 soit 27 % de malus</option>
                    <option value="1.28">1,28 soit 28 % de malus</option>
                    <option value="1.29">1,29 soit 29 % de malus</option>
                    <option value="1.3">1,3 soit 30 % de malus</option>
                    <option value="1.31">1,31 soit 31 % de malus</option>
                    <option value="1.32">1,32 soit 32 % de malus</option>
                    <option value="1.33">1,33 soit 33 % de malus</option>
                    <option value="1.34">1,34 soit 34 % de malus</option>
                    <option value="1.35">1,35 soit 35 % de malus</option>
                    <option value="1.36">1,36 soit 36 % de malus</option>
                    <option value="1.37">1,37 soit 37 % de malus</option>
                    <option value="1.38">1,38 soit 38 % de malus</option>
                    <option value="1.39">1,39 soit 39 % de malus</option>
                    <option value="1.4">1,4 soit 40 % de malus</option>
                    <option value="1.41">1,41 soit 41 % de malus</option>
                    <option value="1.42">1,42 soit 42 % de malus</option>
                    <option value="1.43">1,43 soit 43 % de malus</option>
                    <option value="1.44">1,44 soit 44 % de malus</option>
                    <option value="1.45">1,45 soit 45 % de malus</option>
                    <option value="1.46">1,46 soit 46 % de malus</option>
                    <option value="1.47">1,47 soit 47 % de malus</option>
                    <option value="1.48">1,48 soit 48 % de malus</option>
                    <option value="1.49">1,49 soit 49 % de malus</option>
                    <option value="1.5">1,5 soit 50 % de malus</option>
                    <option value="1.51">1,51 soit 51 % de malus</option>
                    <option value="1.52">1,52 soit 52 % de malus</option>
                    <option value="1.53">1,53 soit 53 % de malus</option>
                    <option value="1.54">1,54 soit 54 % de malus</option>
                    <option value="1.55">1,55 soit 55 % de malus</option>
                    <option value="1.56">1,56 soit 56 % de malus</option>
                    <option value="1.57">1,57 soit 57 % de malus</option>
                    <option value="1.58">1,58 soit 58 % de malus</option>
                    <option value="1.59">1,59 soit 59 % de malus</option>
                    <option value="1.6">1,6 soit 60 % de malus</option>
                    <option value="1.61">1,61 soit 61 % de malus</option>
                    <option value="1.62">1,62 soit 62 % de malus</option>
                    <option value="1.63">1,63 soit 63 % de malus</option>
                    <option value="1.64">1,64 soit 64 % de malus</option>
                    <option value="1.65">1,65 soit 65 % de malus</option>
                    <option value="1.66">1,66 soit 66 % de malus</option>
                    <option value="1.67">1,67 soit 67 % de malus</option>
                    <option value="1.68">1,68 soit 68 % de malus</option>
                    <option value="1.69">1,69 soit 69 % de malus</option>
                    <option value="1.7">1,7 soit 70 % de malus</option>
                    <option value="1.71">1,71 soit 71 % de malus</option>
                    <option value="1.72">1,72 soit 72 % de malus</option>
                    <option value="1.73">1,73 soit 73 % de malus</option>
                    <option value="1.74">1,74 soit 74 % de malus</option>
                    <option value="1.75">1,75 soit 75 % de malus</option>
                    <option value="1.76">1,76 soit 76 % de malus</option>
                    <option value="1.77">1,77 soit 77 % de malus</option>
                    <option value="1.78">1,78 soit 78 % de malus</option>
                    <option value="1.79">1,79 soit 79 % de malus</option>
                    <option value="1.8">1,8 soit 80 % de malus</option>
                    <option value="1.81">1,81 soit 81 % de malus</option>
                    <option value="1.82">1,82 soit 82 % de malus</option>
                    <option value="1.83">1,83 soit 83 % de malus</option>
                    <option value="1.84">1,84 soit 84 % de malus</option>
                    <option value="1.85">1,85 soit 85 % de malus</option>
                    <option value="1.86">1,86 soit 86 % de malus</option>
                    <option value="1.87">1,87 soit 87 % de malus</option>
                    <option value="1.88">1,88 soit 88 % de malus</option>
                    <option value="1.89">1,89 soit 89 % de malus</option>
                    <option value="1.9">1,9 soit 90 % de malus</option>
                    <option value="1.91">1,91 soit 91 % de malus</option>
                    <option value="1.92">1,92 soit 92 % de malus</option>
                    <option value="1.93">1,93 soit 93 % de malus</option>
                    <option value="1.94">1,94 soit 94 % de malus</option>
                    <option value="1.95">1,95 soit 95 % de malus</option>
                    <option value="1.96">1,96 soit 96 % de malus</option>
                    <option value="1.97">1,97 soit 97 % de malus</option>
                    <option value="1.98">1,98 soit 98 % de malus</option>
                    <option value="1.99">1,99 soit 99 % de malus</option>
                    <option value="2">2 soit 100 % de malus</option>
                    <option value="2.01">2,01 soit 101 % de malus</option>
                    <option value="2.02">2,02 soit 102 % de malus</option>
                    <option value="2.03">2,03 soit 103 % de malus</option>
                    <option value="2.04">2,04 soit 104 % de malus</option>
                    <option value="2.05">2,05 soit 105 % de malus</option>
                    <option value="2.06">2,06 soit 106 % de malus</option>
                    <option value="2.07">2,07 soit 107 % de malus</option>
                    <option value="2.08">2,08 soit 108 % de malus</option>
                    <option value="2.09">2,09 soit 109 % de malus</option>
                    <option value="2.1">2,1 soit 110 % de malus</option>
                    <option value="2.11">2,11 soit 111 % de malus</option>
                    <option value="2.12">2,12 soit 112 % de malus</option>
                    <option value="2.13">2,13 soit 113 % de malus</option>
                    <option value="2.14">2,14 soit 114 % de malus</option>
                    <option value="2.15">2,15 soit 115 % de malus</option>
                    <option value="2.16">2,16 soit 116 % de malus</option>
                    <option value="2.17">2,17 soit 117 % de malus</option>
                    <option value="2.18">2,18 soit 118 % de malus</option>
                    <option value="2.19">2,19 soit 119 % de malus</option>
                    <option value="2.2">2,2 soit 120 % de malus</option>
                    <option value="2.21">2,21 soit 121 % de malus</option>
                    <option value="2.22">2,22 soit 122 % de malus</option>
                    <option value="2.23">2,23 soit 123 % de malus</option>
                    <option value="2.24">2,24 soit 124 % de malus</option>
                    <option value="2.25">2,25 soit 125 % de malus</option>
                    <option value="2.26">2,26 soit 126 % de malus</option>
                    <option value="2.27">2,27 soit 127 % de malus</option>
                    <option value="2.28">2,28 soit 128 % de malus</option>
                    <option value="2.29">2,29 soit 129 % de malus</option>
                    <option value="2.3">2,3 soit 130 % de malus</option>
                    <option value="2.31">2,31 soit 131 % de malus</option>
                    <option value="2.32">2,32 soit 132 % de malus</option>
                    <option value="2.33">2,33 soit 133 % de malus</option>
                    <option value="2.34">2,34 soit 134 % de malus</option>
                    <option value="2.35">2,35 soit 135 % de malus</option>
                    <option value="2.36">2,36 soit 136 % de malus</option>
                    <option value="2.37">2,37 soit 137 % de malus</option>
                    <option value="2.38">2,38 soit 138 % de malus</option>
                    <option value="2.39">2,39 soit 139 % de malus</option>
                    <option value="2.4">2,4 soit 140 % de malus</option>
                    <option value="2.41">2,41 soit 141 % de malus</option>
                    <option value="2.42">2,42 soit 142 % de malus</option>
                    <option value="2.43">2,43 soit 143 % de malus</option>
                    <option value="2.44">2,44 soit 144 % de malus</option>
                    <option value="2.45">2,45 soit 145 % de malus</option>
                    <option value="2.46">2,46 soit 146 % de malus</option>
                    <option value="2.47">2,47 soit 147 % de malus</option>
                    <option value="2.48">2,48 soit 148 % de malus</option>
                    <option value="2.49">2,49 soit 149 % de malus</option>
                    <option value="2.5">2,5 soit 150 % de malus</option>
                    <option value="2.51">2,51 soit 151 % de malus</option>
                    <option value="2.52">2,52 soit 152 % de malus</option>
                    <option value="2.53">2,53 soit 153 % de malus</option>
                    <option value="2.54">2,54 soit 154 % de malus</option>
                    <option value="2.55">2,55 soit 155 % de malus</option>
                    <option value="2.56">2,56 soit 156 % de malus</option>
                    <option value="2.57">2,57 soit 157 % de malus</option>
                    <option value="2.58">2,58 soit 158 % de malus</option>
                    <option value="2.59">2,59 soit 159 % de malus</option>
                    <option value="2.6">2,6 soit 160 % de malus</option>
                    <option value="2.61">2,61 soit 161 % de malus</option>
                    <option value="2.62">2,62 soit 162 % de malus</option>
                    <option value="2.63">2,63 soit 163 % de malus</option>
                    <option value="2.64">2,64 soit 164 % de malus</option>
                    <option value="2.65">2,65 soit 165 % de malus</option>
                    <option value="2.66">2,66 soit 166 % de malus</option>
                    <option value="2.67">2,67 soit 167 % de malus</option>
                    <option value="2.68">2,68 soit 168 % de malus</option>
                    <option value="2.69">2,69 soit 169 % de malus</option>
                    <option value="2.7">2,7 soit 170 % de malus</option>
                    <option value="2.71">2,71 soit 171 % de malus</option>
                    <option value="2.72">2,72 soit 172 % de malus</option>
                    <option value="2.73">2,73 soit 173 % de malus</option>
                    <option value="2.74">2,74 soit 174 % de malus</option>
                    <option value="2.75">2,75 soit 175 % de malus</option>
                    <option value="2.76">2,76 soit 176 % de malus</option>
                    <option value="2.77">2,77 soit 177 % de malus</option>
                    <option value="2.78">2,78 soit 178 % de malus</option>
                    <option value="2.79">2,79 soit 179 % de malus</option>
                    <option value="2.8">2,8 soit 180 % de malus</option>
                    <option value="2.81">2,81 soit 181 % de malus</option>
                    <option value="2.82">2,82 soit 182 % de malus</option>
                    <option value="2.83">2,83 soit 183 % de malus</option>
                    <option value="2.84">2,84 soit 184 % de malus</option>
                    <option value="2.85">2,85 soit 185 % de malus</option>
                    <option value="2.86">2,86 soit 186 % de malus</option>
                    <option value="2.87">2,87 soit 187 % de malus</option>
                    <option value="2.88">2,88 soit 188 % de malus</option>
                    <option value="2.89">2,89 soit 189 % de malus</option>
                    <option value="2.9">2,9 soit 190 % de malus</option>
                    <option value="2.91">2,91 soit 191 % de malus</option>
                    <option value="2.92">2,92 soit 192 % de malus</option>
                    <option value="2.93">2,93 soit 193 % de malus</option>
                    <option value="2.94">2,94 soit 194 % de malus</option>
                    <option value="2.95">2,95 soit 195 % de malus</option>
                    <option value="2.96">2,96 soit 196 % de malus</option>
                    <option value="2.97">2,97 soit 197 % de malus</option>
                    <option value="2.98">2,98 soit 198 % de malus</option>
                    <option value="2.99">2,99 soit 199 % de malus</option>
                    <option value="3">3 soit 200 % de malus</option>
                    <option value="3.01">3,01 soit 201 % de malus</option>
                    <option value="3.02">3,02 soit 202 % de malus</option>
                    <option value="3.03">3,03 soit 203 % de malus</option>
                    <option value="3.04">3,04 soit 204 % de malus</option>
                    <option value="3.05">3,05 soit 205 % de malus</option>
                    <option value="3.06">3,06 soit 206 % de malus</option>
                    <option value="3.07">3,07 soit 207 % de malus</option>
                    <option value="3.08">3,08 soit 208 % de malus</option>
                    <option value="3.09">3,09 soit 209 % de malus</option>
                    <option value="3.1">3,1 soit 210 % de malus</option>
                    <option value="3.11">3,11 soit 211 % de malus</option>
                    <option value="3.12">3,12 soit 212 % de malus</option>
                    <option value="3.13">3,13 soit 213 % de malus</option>
                    <option value="3.14">3,14 soit 214 % de malus</option>
                    <option value="3.15">3,15 soit 215 % de malus</option>
                    <option value="3.16">3,16 soit 216 % de malus</option>
                    <option value="3.17">3,17 soit 217 % de malus</option>
                    <option value="3.18">3,18 soit 218 % de malus</option>
                    <option value="3.19">3,19 soit 219 % de malus</option>
                    <option value="3.2">3,2 soit 220 % de malus</option>
                    <option value="3.21">3,21 soit 221 % de malus</option>
                    <option value="3.22">3,22 soit 222 % de malus</option>
                    <option value="3.23">3,23 soit 223 % de malus</option>
                    <option value="3.24">3,24 soit 224 % de malus</option>
                    <option value="3.25">3,25 soit 225 % de malus</option>
                    <option value="3.26">3,26 soit 226 % de malus</option>
                    <option value="3.27">3,27 soit 227 % de malus</option>
                    <option value="3.28">3,28 soit 228 % de malus</option>
                    <option value="3.29">3,29 soit 229 % de malus</option>
                    <option value="3.3">3,3 soit 230 % de malus</option>
                    <option value="3.31">3,31 soit 231 % de malus</option>
                    <option value="3.32">3,32 soit 232 % de malus</option>
                    <option value="3.33">3,33 soit 233 % de malus</option>
                    <option value="3.34">3,34 soit 234 % de malus</option>
                    <option value="3.35">3,35 soit 235 % de malus</option>
                    <option value="3.36">3,36 soit 236 % de malus</option>
                    <option value="3.37">3,37 soit 237 % de malus</option>
                    <option value="3.38">3,38 soit 238 % de malus</option>
                    <option value="3.39">3,39 soit 239 % de malus</option>
                    <option value="3.4">3,4 soit 240 % de malus</option>
                    <option value="3.41">3,41 soit 241 % de malus</option>
                    <option value="3.42">3,42 soit 242 % de malus</option>
                    <option value="3.43">3,43 soit 243 % de malus</option>
                    <option value="3.44">3,44 soit 244 % de malus</option>
                    <option value="3.45">3,45 soit 245 % de malus</option>
                    <option value="3.46">3,46 soit 246 % de malus</option>
                    <option value="3.47">3,47 soit 247 % de malus</option>
                    <option value="3.48">3,48 soit 248 % de malus</option>
                    <option value="3.49">3,49 soit 249 % de malus</option>
                    <option value="3.5">3,5 soit 250 % de malus</option>
                </select>
                <br>
                <br>
                <mat-form-field appearance="outline" style="margin-right: 10px; width: 480px;">
                    <mat-label>Avez-vous été assuré(e) depuis le 04/02/2019</mat-label>
                    <mat-select (selectionChange)="assureBeforeChange($event)" name="countryReactiveVaraible"
                        formControlName="assureBefore" placeholder="assuré(e)">
                        <mat-option *ngFor="let assureBefore of assureBefore" [value]="assureBefore">
                            {{assureBefore.text}}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        Avez-vous été assuré(e) depuis le 04/02/2019
                    </mat-error>
                </mat-form-field>
                <br>
                <br>
                <mat-form-field *ngIf='this.show4 == true' appearance="outline"
                    style="margin-right: 10px; width: 480px;">
                    <mat-label>Nombre de mois d’assurance depuis le 07/02/2021</mat-label>
                    <mat-select name="countryReactiveVaraible" formControlName="nombreMois"
                        placeholder="Nombre de mois d’assurance depuis le 07/02/2021">
                        <mat-option *ngFor="let nombreMois of nombreMois" [value]="nombreMois">
                            {{nombreMois.text}}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        Nombre de mois d’assurance depuis le 07/02/2021
                    </mat-error>
                </mat-form-field>
                <br>
                <br>

                <div *ngIf='this.show5 == true'>
                    <mat-form-field appearance="outline" style="margin-right: 10px;">
                        <mat-label>Du</mat-label>
                        <input matInput [min]="mindate" [matDatepicker]="picker6" formControlName="du" />
                        <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                        <mat-datepicker #picker6></mat-datepicker>
                        <mat-error>
                            Dernière période d’interruption!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="margin-right: 10px;">
                        <mat-label>Au</mat-label>
                        <input matInput [min]="mindate" [max]="maxDate" [matDatepicker]="picker7"
                            formControlName="au" />
                        <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                        <mat-datepicker #picker7></mat-datepicker>
                        <mat-error>
                            Dernière période d’interruption!
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <br>

                    <mat-form-field  appearance="outline"
                        style="margin-right: 10px; width: 480px;">
                        <mat-label>Nombre de mois d’assurance depuis le 07/02/2019</mat-label>
                        <mat-select name="countryReactiveVaraible" formControlName="nombreMois1"
                            placeholder="Nombre de mois d’assurance depuis le 07/02/2021">
                            <mat-option *ngFor="let nombreMois1 of nombreMois1" [value]="nombreMois1">
                                {{nombreMois1.text}}
                            </mat-option>
                        </mat-select>
                        <mat-error>
                            Nombre de mois d’assurance depuis le 07/02/2019
                        </mat-error>
                        <br>
                        <br>
                    </mat-form-field>
                </div>

                <mat-form-field *ngIf='this.show3 == true' class="example-full-width" appearance="outline"
                    style="margin-right: 10px;">
                    <mat-label>Précédent assureur</mat-label>
                    <input type="text" placeholder="Précédent assureur" aria-label="Number" matInput
                        formControlName="assureur" [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <br>
                <br>

                <mat-form-field  appearance="outline" style="margin-right: 10px;">
                    <mat-label>Nombre d'années</mat-label>
                    <mat-select  name="countryReactiveVaraible" formControlName="NbreAnnee" placeholder="Nombre d'années">
                        <mat-option *ngFor="let NbreAnnee of NbreAnnee" [value]="NbreAnnee">
                            {{NbreAnnee.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field  appearance="outline" style="margin-right: 10px;">
                    <mat-label>Nombre de mois</mat-label>
                    <mat-select  name="countryReactiveVaraible" formControlName="NbreMois" placeholder="Nombre de mois">
                        <mat-option *ngFor="let NbreMois of NbreMois" [value]="NbreMois">
                            {{NbreMois.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
         
                <br>
                <div *ngIf='this.show6 == true' class="u-form-group u-form-select u-form-group-2">
                    <label for="select-4191" class="u-label u-label-2">Un assureur a-t-il résilié votre contrat
                        d'assurance depuis le 07/02/2019</label>
                    <br>
                    <mat-radio-group formControlName="contrat" aria-label="Select an option">
                        <mat-radio-button (change)="contratChange($event)" value="1">oui</mat-radio-button>
                        <mat-radio-button (change)="contratChange($event)" style="margin-left : 15px" value="2"> non
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <br>
                <mat-form-field *ngIf='this.show2 == true' appearance="outline" style="margin-right: 10px">
                    <mat-label>Pour quel motif</mat-label>
                    <mat-select  (selectionChange)="motifChange($event)"name="countryReactiveVaraible" formControlName="motif" placeholder="motif">
                        <mat-option *ngFor="let motif of motif" [value]="motif">
                            {{motif.text}}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        Pour quel motif?
                    </mat-error>
                </mat-form-field>

                <mat-form-field *ngIf='this.show2 == true' class="example-full-width" appearance="outline"
                    style="margin-right: 10px;">
                    <mat-label>Précédent assureur</mat-label>
                    <input type="text" placeholder="Précédent assureur" aria-label="Number" matInput
                        formControlName="companyName" [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions1 | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <br>
                <mat-form-field *ngIf='this.show7 == true' appearance="outline" style="margin-right: 10px;">
                    <mat-label>Nombre d'assureurs depuis le 15/02/2019 </mat-label>
                    <mat-select  name="countryReactiveVaraible" formControlName="nonPaiement" placeholder="Nombre d'assureurs">
                        <mat-option *ngFor="let nonPaiement of nonPaiement" [value]="nonPaiement">
                            {{nonPaiement.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <ul class="btn-wrap">
                    <li data-animation="fadeInLeft" data-delay="1.2s">
                        <button [disabled]="fourFormGroup.invalid" matStepperNext
                            class="main-btn main-btn-4">Suivant</button>
                    </li>
                    <br>
                    <li data-animation="fadeInRight" data-delay="1.4s">
                        <button matStepperPrevious class="main-btn main-btn-2">Retour</button>
                    </li>
                </ul>
            </form>
        </mat-step>
        

        <mat-step [stepControl]="lastFormGroup">
            <form class="left" [formGroup]="lastFormGroup">
                <ng-template matStepLabel>Informations personnelles</ng-template>
                <mat-form-field appearance="outline" style="margin-right: 10px;">
                    <mat-label>Nom</mat-label>
                    <input type="text" matInput placeholder="votre nom" formControlName="firstname" required>
                    <mat-error>
                        entrez votre nom
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="margin-right: 10px;">
                    <mat-label>Prénom</mat-label>
                    <input type="text" matInput placeholder="votre prénom" formControlName="lastname" required>
                    <mat-error>
                        Entrez votre prénom
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline" style="margin-right: 10px;">
                    <mat-label>adresse email</mat-label>
                    <input type="text" matInput placeholder="adresse email" formControlName="email" required>
                    <mat-error>
                        Entrez votre adresse email
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="margin-right: 10px;">
                    <mat-label>Téléphone</mat-label>
                    <input type="text" matInput placeholder="numéro de téléphone" formControlName="phonenumber"
                        required>
                    <mat-error>
                        entrez votre numéro de téléphone
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-checkbox style="margin-top: 1%;" formControlName="callMe">autoriser Va-Chercher.com à m'appeler par
                    téléphone</mat-checkbox><br>
                <br>
                <ul class="btn-wrap">
                    <li data-animation="fadeInLeft" data-delay="1.2s">
                        <button [disabled]="lastFormGroup.invalid" matStepperNext (click)="submit()"
                            class="main-btn main-btn-4">Chercher</button>
                    </li>
                    <br>
                    <li data-animation="fadeInRight" data-delay="1.4s">
                        <button matStepperPrevious class="main-btn main-btn-2">Retour</button>
                    </li>
                </ul>
            </form>
        </mat-step>
    </mat-vertical-stepper>
</div>

<app-footer *ngIf="!isLoading" [layout]=""></app-footer>